{% extends "layout.twig" %}

{% block title %} Sucesso {% endblock %}

{% block conteudo %} 
    <p class="text-success">Produto alterado com sucesso! </p> 
    <a href="{{ path('index') }}">Conferir lista de produtos.</a>
{% endblock %}