        {% extends "layout.twig" %}
        
        {% block title %} Cadastro De Produtos {% endblock %}
        
        {% block h1 %} Cadastro De Produtos {% endblock %}
        
        {% block conteudo %}
            
            <form id="form-prod" method="post" action=" {{ path('inserir') }} ">

                <label id="nome">Produto:</label>
                <input type="text" name="nome" required /><br>

                <label id="valor">Valor:</label>
                <input type="text" name="valor" required /><br>

                <label id="descricao">Descrição:</label>
                <textarea name="descricao"></textarea><br>

                <input name="enviar" class="btn btn-primary" value="Enviar" type="submit" />

            </form>  
            
        {% endblock %}