<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>Silex | {% block title %} {% endblock %}</title>
        <link rel="stylesheet" href="/app/css/bootstrap.css" type="text/css" />
        <link rel="stylesheet" href="/app/css/estilo.css" type="text/css" />
    </head>
    <body>
        
        <h1>{% block h1 %} {% endblock %}</h1>
        
        {% block conteudo %} {% endblock %}
        
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <hr>
        <footer> &copy Todos os direitos reservados.</footer> 
        
        <script src="/app/js/jquery.js" type="text/javascript"></script>
        <script src="/app/js/bootstrap.min.js" type="text/javascript"></script>
        
    </body>
</html>